body{
    background-color: #1f2b08;
}
.dua{
   background-color:  hsl(84, 100%, 85%);
   max-width: 400px;
   padding: 30px;
   margin: 150px auto;
   border-radius: 7px;
   line-height: 2em;
   box-shadow: 0px 0px 15px white;
}
form {
    display:flex;
    flex-direction: column;
}
input {
    padding: 8px;
    box-sizing: border-box;
    border-radius: 10px;
}
h2{
    text-align: center;
}